<% content_for :head do %>
<title><%= @category.name %> Daily Briefings and Resources</title>
<meta property="og:url" content="https://www.covid-updates.ca/<%= @category.slug %>" />
<meta property="og:title" content="<%= @category.name %>  COVID-19 (Novel Coronavirus) Daily Briefings and Resources" />
<meta property="og:description"
  content="Watch the latest daily breifing held by the Provincial Health Authorities or the Government of Canada." />
<meta property="og:image" content="<%= image_url('opengraph2.png') %>" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<% end %>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=3276604539040033&autoLogAppEvents=1"></script>



<% if true %>
<!-- Navigation -->
<%= render partial: 'navbar', locals: { active: '' } %>
<% end %>

<main>
  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-4 mb-1">Stay Informed. Save Lives.</h1>
          <p class="lead mb-5 text-white-50">Watch the latest COVID-19 Public Daily Briefings for Alberta, British
            Columbia, Ontario and any National briefings. This site will post unedited videos of the latest news
            conference held by the Provincial Health Authorities or the Government of Canada. Check out the Resources
            page for a curated list of science backed resources.</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2><%=  @category.name %></h2>
      </div>

      <% @resources.each do |resource| %>
      <%= render partial: 'resource-card', locals: { resource: resource } %>
      <% end %>

    </div>
  </div>


</main>


<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">We are in this together.</p>
    <p class="m-0 text-center text-white"><a href="mailto:feedback@covid-updates.ca">feedback@covid-updates.ca</a> </p>
    <p>
      <div class="fb-share-button" data-href="https://www.covid-updates.ca/<%= @category.slug %>" data-layout="button_count"
        data-size="large"><a target="_blank"
          href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.covid-updates.ca%2F&amp;src=sdkpreparse"
          class="fb-xfbml-parse-ignore">Share</a></div>
    </p>
  </div>
  <!-- /.container -->
</footer>



<script type="text/javascript">
  window._mfq = window._mfq || [];
  (function () {
    var mf = document.createElement("script");
    mf.type = "text/javascript"; mf.defer = true;
    mf.src = "//cdn.mouseflow.com/projects/a7a5fb50-d2c1-4edf-ba8c-d9596cd6dd83.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();
</script>
