<div class="container mt-2">
  <div class="ml-2">
    <div id="filterrific_results">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Url</th>
            <th scope="col">Kind</th>
            <th scope="col">Priority</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @resources.each do |resource| %>
            <tr>
              <td><%= resource.category.name %></td>
              <td><%= resource.name %></td>
              <td><%= link_to('Link', resource.url, target: '_blank') if resource.url.present? %></td>
              <td><%= resource.kind %></td>
              <td><%= resource.priority %></td>
              <td><%= link_to 'Show', admin_resource_path(resource), class: 'btn-sm btn-primary' %></td>
              <td><%= link_to 'Edit', edit_admin_resource_path(resource), class: 'btn-sm btn-secondary' %></td>
              <td><%= link_to 'Destroy', admin_resource_path(resource), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

    <%= paginate @resources %>

    <%= link_to 'New Resource', new_admin_resource_path, class: 'btn btn-primary' %>
  </div>

</div>