<% content_for :head do %>
<title>Admin - Resources || covid-upates.ca</title>
<% end %>

<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-md-6">
    <h1>Resources</h1>
  </div>
</div>

  <%= form_for_filterrific @filterrific do |f| %>
    <div class="container d-flex flex-column mb-4">
    
      <div class="d-flex flex-row-reverse">
        <%= link_to('Reset Filters', reset_filterrific_url, class: "btn btn-info mb-3 align-bottom") %>
      </div>

      <main class="card card-body bg-light d-flex flex-row h-25 mx-auto">
        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold">Search:</label>
            <%= f.text_field(
              :search_query,
              class: 'filterrific-periodically-observed form-control'
            ) %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold">Category:</label>
            <%= f.select(
              :with_category_id,
              @filterrific.select_options[:with_category_id],
              { include_blank: '- Any -' }
            ) %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold">Submitted After:</label>
            <%= f.date_field :with_resources_since, class: 'js-datepicker form-control' %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="font-weight-bold">Sorted By:</label>
            <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], class: 'form-control' %>
          </div>
        </div>

        <%= render_filterrific_spinner %>
      </main>
      
    </div>
  <% end %>


<%= render 'list', resources: @resources %>
