<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @resource.url %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @resource.kind %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @resource.priority %>
</p>

<p>
  <strong>Category:</strong>
  <%= @resource.category.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @resource.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @resource.date %>
</p>

<p>
  <strong>Description:</strong>
  <hr>
  <%= sanitize @resource.description %>
  <hr>
</p>

<p>
  <strong>Video ID:</strong>
  <%= @resource.video_id %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @resource.start_time %>
</p>

<p>
  <strong>Content</strong>
  <%= @resource.rich_description %>
</p>

<%= link_to 'Edit', edit_admin_resource_path(@resource) %> |
<%= link_to 'Back', admin_resources_path %>
