<% content_for :head do %>
<title>Admin - Resource Info || covid-upates.ca</title>
<% end %>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card login-card">
        <div class="card-header text-white bg-secondary">
          <h3>Resource Information</h3>
        </div>
        <div class="card-body text-white bg-dark pt-4">

          <% ['name', 'url', 'kind', 'video_id', 'start_time', 'date', 'category', 'rich_description'].each do |attribute| %>
            <div class="row mb-3">
              <h6 class="col-md-4 text-md-right"><strong><%= attribute.titleize %>:</strong></h6>
              <div class="col-md-6">
                <% if attribute == 'category'%>
                  <%= @resource.category ? @resource.category.name : 'Uncategorized' %>
                <% else %>
                  <%= @resource[attribute] %>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="col-md-8 offset-md-0 d-flex">
            <h5><%= link_to 'Edit', edit_admin_resource_path(@resource), class: "pr-3" %></h5>
            <h5><%= link_to 'Back to Index', admin_resources_path %></h5>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
