<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card login-card">
        <div class="card-header text-white bg-secondary">
          <h3><%= mode == "NEW" ? "New Category" : "Edit Category" %></h3>
        </div>
        <div class="card-body text-white bg-dark">
          <%= form_for [:admin, @category] do |form| %>
            <% if category.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

                <ul>
                  <% category.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group row">
              <%= form.label :name, class: "col-md-4 col-form-label text-md-right" %>
              <div class="col-md-6">
                <%= form.text_field :name %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :kind, class: "col-md-4 col-form-label text-md-right" %>
              <div class="col-md-6">
                <%= form.select :kind, ['general', 'daily_update'] %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :slug, class: "col-md-4 col-form-label text-md-right" %>
              <div class="col-md-6">
                <%= form.text_field :slug %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :priority, class: "col-md-4 col-form-label text-md-right" %>
              <div class="col-md-6">
                <%= form.number_field :priority %>
              </div>
            </div>

            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-4">
                <div class="actions">
                  <%= form.submit nil, class: "btn btn-primary mb-3"%>
                </div>
              </div>
              <div class="col-md-8 offset-md-<%= mode == "NEW" ? "1" : "0" %> d-flex">
                <h5><%= link_to 'Back', admin_categories_path, class: "pr-3" %></h5>
              <% if mode == "EDIT" %>
                <h5><%= link_to 'Show', admin_category_path(@category) %></h5>
              <% end %>
              </div>
            </div>
            
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

