<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card login-card">
        <div class="card-header text-white bg-secondary">
          <h3>Category Information</h3>
        </div>
        <div class="card-body text-white bg-dark pt-4">

          <% ['name', 'kind', 'slug', 'priority'].each do |attribute| %>
            <div class="row mb-3">
              <h6 class="col-md-4 text-md-right"><strong><%= attribute.titleize %>:</strong></h6>
              <div class="col-md-6">
                <%= @category[attribute] %>
              </div>
            </div>
          <% end %>

          <div class="col-md-8 offset-md-0 d-flex">
            <h5><%= link_to 'Edit', edit_admin_category_path(@category), class: "pr-3" %></h5>
            <h5><%= link_to 'Back to Index', admin_categories_path, class: "pr-3" %></h5>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
