<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54550968-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-54550968-11');
    </script>

    <title>Canadian COVID-19 (Novel Coronavirus) Daily Briefings and Resources</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>



    <meta property="og:url"                content="https://www.covid-updates.ca/" />
    <meta property="og:title"              content="Canadian COVID-19 (Novel Coronavirus) Daily Briefings and Resources" />
    <meta property="og:description"        content="Watch the latest daily breifling held by the Provincial Health Authorities or the Government of Canada. Also a source of other useful resources. " />
    <meta property="og:image"              content="<%= image_url('open-graph.png') %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
